.confirm-wrapper {
  width: 560px;
  min-height: 500px;
  border: none;
  border-radius: 8px;
  padding: 30px 40px;
  background-color: #171f31;
  color: white;
}

.title {
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.chain-pair-wrapper {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.chain {
  flex: 1;
  text-align: center;
  font-size: 1.8rem;

  & > span {
    padding: 10px 20px;
    border-radius: 4px;
    // background-color: #3f51b5;
    background-color: #3f4e6e;
  }
}

.token-wrapper {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: relative;
}

.token {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  position: absolute;
  top: -28px;

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }
}

.arrow {
  text-align: center;
  font-size: 16px;
  line-height: 24px;

  object {
    width: 100px;
  }
}

.label {
  margin-top: 24px;
  padding: 10px 10px 2px 0px;
  color: #bdbdbd;
  font-weight: 400;
  font-size: 1.4rem;
}

.address-wrapper {
  font-size: 1.3rem;
  margin-top: 0px;
  padding: 0px 0px 4px 0px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #d7d7d7;

  & > div {
    flex: 1;
    text-align: center;
  }

  & > * {
    line-height: 28px;
  }
}

.copy-icon {
  margin-left: 4px;
  color: #d9d9d9;

  &:hover {
    cursor: pointer;
    filter: brightness(1.2);
  }

  & > svg {
    vertical-align: middle;
  }
}

.number-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
}

.number {
  margin-top: 0px;
  padding: 0px 0px 4px 0px;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: #d7d7d7;

  & > div {
    text-align: right;
  }

  & > div:first-child {
    flex: 1;
    font-size: 2rem;
    line-height: 2rem;
  }

  & > div:last-child {
    margin-left: 10px;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: white;
  }
}

.footer {
  margin-top: 60px;
  text-align: center;
  font-size: 1.4rem;

  button {
    padding: 6px 20px;
    border-radius: 4px;
    margin: 0px 8px;
    border: none;

    &:hover {
      cursor: pointer;
      filter: brightness(1.4);
    }

    &:active {
      filter: brightness(1.2);
    }
  }
}

.cancel {
  background-color: #888888;
}

.ok {
  background: linear-gradient(133deg, #2fd8ca, #19a2bd) !important;
}

.loading-wrapper {
  & > div {
    width: 320px !important;
    top: calc(50% - 120px);
    padding: 0px;
  }

  :global {
    .ant-modal-content {
      height: 240px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.loading-text {
  font-size: 24px;
  color: black;
  font-weight: 600;
}
