html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background-color: #004b6f;
  font-family: Avenir, PingFang SC, Helvetica Neue, Helvetica, Hiragino Sans GB, Arial, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #262d53;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3f51b5;
  border-radius: 5px;
}

.web3modal-modal-lightbox {
  z-index: 1000 !important;
}